<!DOCTYPE HTML>
<html>
<body>
	<title>
		International Cafe Schedule
	</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(
	hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	
    <header>
    <div class="navigation">
        <ul>
            <li>
                <div class="navigation_bar">
                	<img src="images/menu.png" class="hamburger">
                </div>
                <ul>

                    <div class="widget">
                    {{#each navigation}}
                    	<li><a href="{{page}}">{{name}}</a></li>
                	{{/each}}
                	</div>

                </ul>
            </li>
        </ul>
    </div>
    </header>{{#each country}}
	<div class = "accordion" id="accordion2">
		<div class = "accordion-group">
			<div class = "accordion-heading">
				<a class = "accordion-toggle" data-toggle="collapse" data-parent = "#accordion2" href="#collapseOne">
					<h4> About {{country_name}}
					<span class="glyphicon glyphicon-circle-arrow-up" aria-label="right-align"></span> </h4>
				</a>
			</div>
			<div id = "collapseOne" class="accordion-body collapse in">
				<div class = "accordion-inner">
					<h2><small><p>Poland is a country in Central Europe bordered by Germany to the west; the Czech Republic and Slovakia to the south; Ukraine and Belarus to the east; and the Baltic Sea, Kaliningrad Oblast (a Russian exclave) and Lithuania to the north. The total area of Poland is 312,679 square kilometres (120,726 sq mi), making it the 71st largest country in the world and the 9th largest in Europe. With a population of over 38.5 million people, Poland is the 34th most populous country in the world. </small></h2></p>
				</div>
					<center>
			    	<div class="logo">
    			    	<img width ="800" src="images/poland/poland-wallpaper.jpg" class="img-responsive"></a><br>
   			     		<img src="images/poland/poland-flag.jpg" class="img-responsive"></a>
    				</div>
					</center>
			</div>
		</div>
		<br/>
		<div class = "accordion-group">
			<div class = "accordion-heading">
				<a class = "accordion-toggle" data-toggle="collapse" data-parent = "#accordion2" href="#collapseTwo">
				 <h4>{{country_adj}} Cuisine <span class="glyphicon glyphicon-circle-arrow-down" aria-label="right-align"></span> </h4>
				</a>
			</div>
			<div id = "collapseTwo" class="accordion-body collapse">
				<div class = "accordion-inner">
					<h2><small><p>Polish cuisine is hearty and uses a lot of cream and eggs. The main course usually includes a serving of meat, such as roast, chicken, or kotlet schabowy (breaded pork cutlet), vegetables, side dishes and salads, including surówka – shredded root vegetables with lemon and sugar (carrot, celeriac, seared beetroot) or sauerkraut (Polish: kapusta kiszona). The side dishes are usually potatoes, rice or kasza (cereals). Meals conclude with a dessert such as sernik, makowiec (a poppy seed pastry), or drożdżówka yeast pastry, and tea.</small></h2></p>
				</div>
			</div>
			<br>
		</div>
</div>
</br>

 <a href="#" class="back-to-top" style="display: inline;">
 <i class="fa fa-arrow-circle-up"></i>
 </a>
 <a class="back-to-top" style="display: inline;" href="#">Back to Top</a>

</div>

<a href="#" class="back-to-top" style="display: inline;">
<i class="fa fa-arrow-circle-up"></i>
</a>
<a class="back-to-top" style="display: inline;" href="#"><font size = "3">Back to Top</font></a>

    <div class="widget">
    	<ul>
    		<center>
    			<li class="active"><a href="international_cafe"><h4> Go back to International Cafe!</h4> </a></li>
				<li class="active"><a href="names"><h4> Let's learn some {{country_adj}}!</h4> </a></li>
				<li class="active"><a href="analytics"> <h4>Top I-Cafe Dishes</h4> </a></li>
			</center>
		</ul>
	</div>
</br>
	<p>Sources: Wikipedia and I-Cafe</p>
	{{/each}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>
